#indepth_cover{
	height: 1080px;
	width: 100%;
	background-image: url("../images/cover.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 1080px;
	position: relative;
}
#emmbed{
	width: 1000px;
	height: 935px;
	position: absolute;
	margin: auto;
	left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
}
@media(max-width: 1024px){
	#emmbed {
	    height: 605px;
		width: 650px;
	}
	#indepth_cover{
		background-size: auto 700px;
		height: 700px;
	}
}
@media(max-width: 720px){
	#indepth_cover {
	    height: 100vh;
	    background-size: 170vw 100vh;
	}
	#emmbed {
	    height: 85vh;
	    width: 90vw;
	}
}